---
import type { MarkdownInstance } from "astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob("../../content/articles/*.md");
  // console.log(posts);

  return posts.map((post) => {
    const slug = post.frontmatter.slug;
    return {
      params: { slug },
      props: { post },
    };
  });
}

const { frontmatter, Content } = Astro.props.post as MarkdownInstance<
  Record<string, any>
>;

const date = new Date(frontmatter.date);
const formattedDate = date.toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<Layout
  title={frontmatter.title}
  imageURL={frontmatter["img-preview"]}
  description={frontmatter.description}
  omitName
>
  <!-- Title -->
  <h1
    class="mx-auto max-w-2xl text-center font-heading text-3xl font-extrabold tracking-tight md:text-4xl"
  >
    {frontmatter.title}
  </h1>

  <!-- Author (desktop) -->
  <p
    class="mx-auto mt-4 mb-6 hidden text-center font-heading text-lg text-zinc-400 md:block"
  >
    Written by <a
      class="border-b-[2px] border-blue-500 font-bold text-white hover:text-blue-500"
      href="/me">Lucca Rodrigues</a
    > on <span>{formattedDate}</span>
  </p>

  <!-- Author (mobile) -->
  <p
    class="mt-4 mb-6 block text-center font-heading text-lg text-zinc-400 md:hidden"
  >
    <a
      class="border-b-[2px] border-blue-500 font-bold text-white hover:text-blue-500"
      href="/me">Lucca Rodrigues</a
    > •
    <span>{formattedDate}</span>
  </p>

  <!-- Tags -->
  <div
    class="mx-auto flex max-w-2xl flex-wrap justify-center gap-y-3 gap-x-3 px-2"
  >
    {
      frontmatter.tags.map((tag: string) => (
        <a
          href={`/blog/tag/${tag}`}
          class="text-normal rounded-lg border-2 border-blue-500 px-3 py-1 font-heading font-bold transition-all hover:bg-blue-500 hover:text-zinc-900"
        >
          {tag}
        </a>
      ))
    }
  </div>

  <!-- Private post notice -->

  {
    !frontmatter.public && (
      <div class="mt-6 space-y-3.5 rounded-r-lg border-l-4 border-blue-500 bg-blue-900 bg-opacity-20 py-6 pl-6 pr-5">
        <div class="flex items-center gap-1.5 text-lg font-bold tracking-tight text-blue-500">
          <i class="ph-bold ph-info text-xl" />
          <span>Private Post</span>
        </div>
        <p class="text-base leading-relaxed text-zinc-300">
          Hey, Lucca here!
          <span class="font-semibold text-white">
            This post hasn't been released yet.
          </span>
          If you're reading this, I've probably linked you here directly, and
          I'd really appreciate your feedback before this post goes live. Thank
          you! 😄
        </p>
      </div>
    )
  }

  <!-- Content -->
  <!-- prose-blockquote:rounded-r-xl prose-blockquote:border-blue-500 prose-blockquote:bg-zinc-800 prose-blockquote:bg-opacity-30 prose-blockquote:py-0.5 prose-blockquote:pr-2 -->
  <main
    class="prose prose-lg prose-zinc mt-10 max-w-none px-2 prose-p:leading-relaxed prose-a:text-white hover:prose-a:text-blue-500 prose-blockquote:rounded-r-xl prose-blockquote:border-blue-500 prose-blockquote:bg-zinc-800 prose-blockquote:bg-opacity-30 prose-blockquote:py-0.5 prose-blockquote:pr-6 prose-blockquote:pl-6 prose-blockquote:font-normal prose-blockquote:text-zinc-200 prose-pre:leading-snug prose-img:mx-auto prose-img:rounded-xl dark:prose-invert md:prose-img:max-w-xl"
  >
    <Content />
  </main>
</Layout>
