---
import type { AstroComponentFactory } from "astro/dist/runtime/server";
import type { TechType } from "../techInfo";
import LinkButton from "./LinkButton.astro";
import ReactImageCarousel from "./ReactImageCarousel";
import TechIndicator from "./TechIndicator.astro";

export interface Props {
  title: string;
  subtitle: string;
  sourceLink?: string;
  demoLink?: string;
  articleSlug?: string;
  images: string[];
  techList: TechType[];
  Content: AstroComponentFactory;
}

const {
  title,
  subtitle,
  sourceLink,
  demoLink,
  articleSlug,
  images,
  techList,
  Content,
} = Astro.props as Props;
---

<!-- Backlink -->
<a
  class="font-heading text-base font-bold hover:text-blue-500 hover:underline hover:decoration-blue-500 hover:decoration-2"
  href="/portfolio"
>
  <i class="fa-solid fa-arrow-left text-base"></i>
  Back to Portfolio
</a>

<!-- Main content -->
<section
  class="mt-4 mb-10 rounded-xl bg-zinc-800 bg-opacity-50 px-4 py-8 md:px-10"
>
  <!-- Title/Subtitle -->
  <div class="mb-4 mt-2 flex flex-col gap-2">
    <h3 class="font-heading text-3xl font-bold">{title}</h3>
    <h4 class="font-heading text-lg text-zinc-400">
      {subtitle}
    </h4>
  </div>

  <!-- Technologies -->
  <div class="mb-6 flex flex-wrap gap-2">
    {techList.map((tech) => <TechIndicator tech={tech} />)}
  </div>

  <!-- Links -->
  <div class="mb-4 flex gap-2">
    {sourceLink && <LinkButton link={sourceLink} type="source" />}
    {demoLink && <LinkButton link={demoLink} type="demo" />}
    {articleSlug && <LinkButton link={`/blog/${articleSlug}`} type="article" />}
  </div>

  <!-- Main content -->
  <article
    class="prose prose-zinc mt-10 max-w-none px-2 prose-p:leading-7 prose-a:text-white hover:prose-a:text-blue-500 prose-blockquote:rounded-r-xl prose-blockquote:border-blue-500 prose-blockquote:bg-zinc-800 prose-blockquote:bg-opacity-30 prose-blockquote:py-0.5 prose-blockquote:pr-6 prose-blockquote:pl-6 prose-img:mx-auto prose-img:rounded-xl dark:prose-invert md:prose-img:max-w-xl xl:prose-lg xl:prose-p:leading-relaxed"
  >
    <Content />
  </article>

  <!-- Image Carousel -->
  <ReactImageCarousel images={images} client:load />
</section>
